# Transportasi yang banyak diminati antara bus dan kereta api

In [37]:
import pandas as pd
import numpy as np

In [38]:
# URL file CSV di GitHub
github_url = "https://raw.githubusercontent.com/rebekz/datascience_course/main/data/ridership/CTA_-_Ridership_-_Daily_Boarding_Totals.csv"

# Baca file CSV
df = pd.read_csv(github_url)
print(df.head())

  service_date day_type     bus  rail_boardings  total_rides
0   01/01/2001        U  297192          126455       423647
1   01/02/2001        W  780827          501952      1282779
2   01/03/2001        W  824923          536432      1361355
3   01/04/2001        W  870021          550011      1420032
4   01/05/2001        W  890426          557917      1448343

Tambahkan kolom most_used untuk mendapatkan transportasi yang banyak digunakan setiap hari

In [40]:
df['most_used'] = np.where(df['bus'] > df['rail_boardings'], 'Bus', 'Rail')

pd.DataFrame(df[['service_date', 'day_type', 'bus', 'rail_boardings', 'most_used']])

     service_date day_type     bus  rail_boardings most_used
0      01/01/2001        U  297192          126455       Bus
1      01/02/2001        W  780827          501952       Bus
2      01/03/2001        W  824923          536432       Bus
3      01/04/2001        W  870021          550011       Bus
4      01/05/2001        W  890426          557917       Bus
...           ...      ...     ...             ...       ...
7696   11/26/2021        W  257700          189694       Bus
7697   11/27/2021        A  237839          187065       Bus
7698   11/28/2021        U  184817          147830       Bus
7699   11/29/2021        W  421322          276090       Bus
7700   11/30/2021        W  450230          302349       Bus

[7701 rows x 5 columns]